<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %> <% if (message) { %>
<p class="notice"><%= message %></p>
<% } %>
<h1><%- title %></h1>

<% if (client_type == 'Client') { %>
<h3>Welcome <%- client_firstname %></h3>
<% } else { %>
<h3>Welcome <%- client_firstname %></h3>

<h3>Client type : <%- client_type %></h3>
<h3><a href="/inv/"> Inventory Management</a></h3>

<% } %>
<h3>
  <a href="/client/updateaccview/<%-client_id%>"> Update account information</a>
</h3>

<p>You're logged in</p>
